<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8" style="margin-top:-150px">
                <h2 class="text-white mb-4">Bienvenido a mi portfolio</h2>
                <video class="video"  controls>
                    <source src="/video/about-video-2.mp4" video="/mp4"> 
                    <source src="movie.ogg" type="video/ogg">
                  Your browser does not support the video tag.
                  </video>
                <p class="text-white-50">
                    
                    <a href="https://startbootstrap.com/theme/grayscale/"></a>    
                </p>
            </div>
        </div>   
    </div>
</section>