

    
<section class="projects-section bg-light" id="projects">
    <h2 class="text-dark mb-4 texto-parametros">Parámetros acústicos (ISO 3382)</h2>
    <div class="container px-4 px-lg-5">
        
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
           
            <div class="col-xl-8 col-lg-7 flexi"><img class="img-flui mb-3 mb-lg-0" src="images/project.png" alt="..." /></div>
            
            <div class="col-xl-4 col-lg-5">
                
                <div class="featured-text text-center text-lg-left">
                    
                    <h4>Soft VKNG</h4>
                    <h5> Interfaz de Inicio </h3>
                    <p class="text-black-50 mb-0">Desarrollo de una aplicación en Python para el cálculo de parámetros acústicos a partir de respuestas al impulso de una sala en bandas de octava y tercio de octava. Los parámetros estándar se calculan de acuerdo con la norma ISO 3382 y se exploran otros novedosos relacionados con el tiempo de transición. </p>
                    <a href="linkDeDescarga">Descarga</a>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6 flexi"><img class="img-flui-2" src="images/project-2.png" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Soft VKNG</h4>
                            <h5 class="text-white">Resultados</h3>
                            <p class="mb-0 text-white-50">El rendimiento del software se evalúa y compara con otras herramientas disponibles, mostrando una excelente concordancia en los parámetros de tiempo de reverberación y claridad. La descripción detallada del trabajo y la dirección del repositorio se puede obtener en el siguiente enlace. </p>
                            <a href="linkDeDescarga">Descarga</a>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <div class="container px-4 px-lg-5">
            <h2 class="text-dark mb-4 texto-parametros">Respuestas al impulso 3D</h2>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7 flexi"><img class="img-flui-3 mb-3 mb-lg-0" src="images/project-5.png" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>3D RIRs</h4>
                        <h5> Interfaz de Inicio </h3>
                        <p class="text-black-50 mb-0">En esta oportunidad se realizó una investigación que permitió el desarrollo de un software que procesa respuestas al impulso en tres dimensiones. Este software admite archivos de audio que se graban tanto en formato A como en formato B, ya que cuenta con un algoritmo conversor de formato A-B. </p>
                        <a href="linkDeDescarga">Descarga</a>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6 flexi"><img class="img-flui-4" src="images/project-6.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">3D RIRs</h4>
                                <h5 class="text-white">Resultados</h3>
                                <p class="mb-0 text-white-50">El erizo es un gráfico tridimensional que representa los vectores intensidad considerando la dirección de arribo de la reflexión. El software se desarrolla en el lenguaje Python y su propósito es facilitar la comprensión de las características acústicas de un recinto y la evolución del campo sonoro en el espacio. La descripción detallada del trabajo y la dirección del repositorio se puede obtener en el siguiente enlace.</p>
                                <a href="linkDeDescarga">Descarga</a>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Project Two Row-->
        <!--
            <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/project-3.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Proyectos secundarios</h4>
                            <p class="mb-0 text-white-50">Desarrollo de software que permita el procesamiento de respuestas de impulso en tres dimensiones. 
                                Como funciones principales, este software admite archivos de audio que se graban tanto en formato A 
                                como en formato B, ya que cuenta con un algoritmo de conversión de formato A a B.</p>
                                <a href="linkDeDescarga">Descarga</a>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
       
       --> 
        
        <!-- Project Two Row-->
        <!--
            <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/project-3.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Proyectos secundarios</h4>
                            <p class="mb-0 text-white-50">Desarrollo de software que permita el procesamiento de respuestas de impulso en tres dimensiones. 
                                Como funciones principales, este software admite archivos de audio que se graban tanto en formato A 
                                como en formato B, ya que cuenta con un algoritmo de conversión de formato A a B.</p>
                                <a href="linkDeDescarga">Descarga</a>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
       
       --> 
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container px-4 px-lg-5">
            <h2 class="text-dark mb-4 texto-parametros">Mediciones acústicas</h2>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7 flexi"><img class="img-flui-3 mb-3 mb-lg-0" src="images/imagen1.jpg" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Sistema de radiación indirecta</h4>
                        <h5> Medición y caracterización </h3>
                        <p class="text-black-50 mb-0">Se analiza el comportamiento de un sistema de radiación indirecta que consta de un driver de compresión modelo DE620TN-8 y una bocina modelo ME90, ambos de la marca B&C. A través de mediciones electrónicas y acústicas se obtienen curvas de impedancia, curvas de respuesta en frecuencia a diferentes ángulos de incidencia, espectrogramas y patrones polares del sistema bajo estudio. </p>
                        <a href="linkDeDescarga">Descarga</a>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6 flexi"><img class="img-flui-4" src="images/medicion_2.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Sistema de radiación indirecta</h4>
                                <h5 class="text-white">Medición y caracterización</h3>
                                <p class="mb-0 text-white-50">En este trabajo se emplea la técnica de medición cuasi anecoica, para obtener los parámetros del sistema en un recinto controlado.  Para ello se emplean barridos sinusoidales considerando el ancho de banda del sistema bajo estudio y se eliminan las reflexiones de la respuesta al impulso obtenida. La descripción detallada del trabajo se puede obtener en el siguiente enlace.</p>
                                <a href="linkDeDescarga">Descarga</a>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <div class="container px-4 px-lg-5">
            <h2 class="text-dark mb-4 texto-parametros">Tecnología del Automotor</h2>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7 flexi"><img class=" mb-3 mb-lg-0 img-flui-5" src="images/project-9.jpeg" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Inyección Electronica</h4>
                        <h5> Diagnóstico computarizado </h3>
                        <p class="text-black-50 mb-0">Desarrollo de una aplicación independiente de Python para el cálculo de parámetros acústicos a partir de señales de respuesta de impulso de sala (RIR), en bandas de octava y tercio de octava. Los parámetros estándar se calculan de acuerdo con la norma ISO 3382 y se exploran los novedosos relacionados con el tiempo de transición. </p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6 flexi"><img class="img-flui-6" src="images/project-10.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Inyeccion Electronica</h4>
                                <h5 class="text-white">Analisis de señales</h3>
                                <p class="mb-0 text-white-50">El rendimiento del software se evalúa y compara con otras herramientas disponibles, mostrando una excelente concordancia en los parámetros de tiempo de reverberación y claridad. Se necesitan más mejoras para el cálculo de IACC.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Project Two Row-->
        <!--
            <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="/images/project-3.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Proyectos secundarios</h4>
                            <p class="mb-0 text-white-50">Desarrollo de software que permita el procesamiento de respuestas de impulso en tres dimensiones. 
                                Como funciones principales, este software admite archivos de audio que se graban tanto en formato A 
                                como en formato B, ya que cuenta con un algoritmo de conversión de formato A a B.</p>
                                <a href="linkDeDescarga">Descarga</a>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
       
       --> 
        </div>
        
    </div>
</section>
</div>